.additional-products__wrapper {
  @include wrapper;
}

.additional-products {
  display: block;
}

.additional-products__title {
  @include form-title;
}

.additional-products__list {
  @include reset-list;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .additional-products__list {
    @include wrapper-tablet;
    padding-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__list {
    padding-bottom: 85px;
  }
}

.additional-products__item {
  padding-bottom: 17px;

  border-bottom: 1px solid $border-grey;
}

@media (min-width: $tablet-width) {
  .additional-products__item {
    align-content: center;
    align-items: center;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__item {
    width: 895px;
    padding-bottom: 85px;
  }
}

.additional-products__name {
  font-size: 16px;
  line-height: 16px;
  font-family: $oswald;
  text-transform: uppercase;
}

.additional-products__details {
  display: flex;
  justify-content: space-between;
  width: 100%;

  font-size: 14px;
  line-height: 14px;
  font-family: $arial;
  color: $darkgrey;
}

.additional-products__promo {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 290px;

  background-color: #6fb346;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.additional-products__description {
  margin: 190px 0;

  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-family: $arial;
  color: $bg-color;
}
