.advantages {
  padding-bottom: 20px;
}

.advantages__item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  list-style: none;
}

.advantages__description {
  margin: 0;
  line-height: 18px;
}
