.catalog {
  @include wrapper;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .catalog {
    @include wrapper;
    padding: 0;
    margin-top: 0;
    margin-bottom: 45px;
  }

  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: flex-start;
    width: 1300px;
  }
}

.catalog__title {
  @include title;
  margin-top: 16px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding-bottom: 23px;
    margin: 50px 0 0;

    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding-top: 50px;
    margin-top: 20px;
  }
}

.catalog__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  border-top: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .catalog__item-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
  }

  .catalog__item {
    text-align: center;
    width: 324px;
    min-height: 520px;
    padding-bottom: 0;

    border-top: none;
    background: linear-gradient(to top, $grey 75%, $bg-color 25%);
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    display: flex;
    flex-wrap: nowrap;
    width: 245px;
    min-width: auto;
    padding: 0;
    margin-bottom: 3px;
    margin-right: 80px;

    border-top: none;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
}

.catalog__image {
  min-width: 50%;
  height: 144px;
}

@media (min-width: $tablet-width) {
  .catalog__image {
    display: flex;
    align-items: flex-end;
    width: 245px;
    height: 270px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__image {
    width: 245px;
    height: 270px;
  }
}

.catalog__content {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 0 20px;
}

.catalog__item__link {
  color: $black;
}

.catalog__name {
  width: 60%;
  margin-top: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .catalog__content {
    width: auto;
    padding: 0;
    margin: 0 40px;
  }

  .catalog__name {
    display: inline-block;
    min-width: 135px;
    margin-top: 35px;

    font-size: 20px;
    line-height: 20px;
  }

  .catalog__details {
    width: 250px;
    margin: 25px auto 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__content {
    width: auto;
    margin: 0 auto;
  }

  .catalog__name {
    width: 80%;
  }

  .catalog__details {
    width: 170px;
  }
}

.catalog__btn {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .catalog__btn {
    width: 249px;
    margin: 25px auto 14px;

    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__btn {
    width: 169px;
  }
}
