.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  border-top: 1px solid #ededed;
}

.catalog__name {
  width: 50%;
  padding-bottom: 10px;
}

.catalog__image {
  display: flex;
  justify-content: center;
  min-width: 50%;
  height: 144px;
}
