.contacts {
  display: flex;
  justify-content: space-around;
  width: 100%;

  background-color: $bg-color;
}

.contacts__title,
.contacts__text {
  height: 100%;
  width: 50%;

  line-height: 20px;
}

.contacts__title {
  margin: 20px 0;

  font-size: 16px;
  font-family: $oswald;
  text-transform: uppercase;
  color: $black;
}

.contacts__text {
  font-family: $arial;
  font-size: 14px;
  color: $darkgrey;
}
