.contacts__card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contacts__title,
.contacts__text {
  height: 100%;
  width: 50%;

  font-weight: 400;
  line-height: 20px;
}

.contacts__title {
  margin: 20px 0;
  width: 125px;

  font-size: 16px;
  font-family: $oswald;
  text-transform: uppercase;
  color: $black;
}

.contacts__text {
  width: 135px;

  font-family: $arial;
  font-size: 14px;
  color: $darkgrey;
}

@media (min-width: $tablet-width) {
  .contacts__card {
    width: 630px;
    align-items: center;
    min-height: 201px;
    padding-left: 40px;
    padding-right: 40px;

    margin: 0;
  }

  .contacts__title {
    min-width: 155px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 160px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__text span {
    display: block;
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .page-footer__wrapper {
    width: 1300px;
    margin: 0 auto;
  }

  .contacts__card {
    position: absolute;

    min-width: auto;
    width: 570px;
    min-height: 200px;
    padding: 0;
    margin-top: 92px;
    margin-bottom: -50px;
    justify-content: space-around;

    background-color: $bg-color;
  }
}
