.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.copyright__link {
  font-size: 16px;
  line-height: 16px;
  font-family: $arial;
  text-decoration: none;
  color: $darkgrey;

  &:hover .copyright__logo {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-academy {
  width: 27px;
  height: 34px;

  svg {
    fill: #666666;
  }
}


@media (min-width: $tablet-width) {
  .copyright__logo {
    margin-left: 22px;
  }
}
