.example__slider {
  position: relative;
  margin: 40px 20px;
  width: 320px;
  height: 240px;
}

.example__slider-img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
