.example__wrapper {
  @include wrapper;
}

.example {
  background-color: $grey;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0;

    background-color: $bg-color;
  }

  .example__wrapper {
    margin-top: 67px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    background: linear-gradient(to right, $grey 70%, $bg-color 30%);
  }

  .example__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 462px;
    width: 570px;
    margin: 0;
  }
}

.example__title {
  @include title;
}

.example__description {
  margin-bottom: 25px;
  margin-top: -5px;

  font-size: 14px;
  line-height: 18px;
  font-family: $arial;
  color: $darkgrey;
}

@media (min-width: $tablet-width) {
  .example__title {
    line-height: 60px;
    font-size: 60px;
    margin: 0;
    padding-bottom: 83px;
  }

  .example__description {
    width: 700px;

    line-height: 24px;
    font-size: 16px;
    color: $darkgrey;
  }
}

@media (min-width: $desktop-width) {
  .example__title {
    width: 365px;
    padding-bottom: 146px;
    margin: -135px 0 10px 0;

    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    width: 432px;
    margin-left: auto;
    margin-right: 97px;

    line-height: 24px;
    font-size: 16px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 10px 0;
}

.example__item {
  width: 124px;
  padding: 12px 10px 0;

  text-align: center;

  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-sizing: border-box;
}

.example__item--wrapper {
  margin-bottom: -20px;

  background-color: $grey;
}

.example__item-value {
  font-size: 24px;
  line-height: 24px;
  font-family: $oswald;
  color: $black;
}

.example__item-description {
  margin: auto;
  padding: 10px;

  font-size: 12px;
  line-height: 12px;
  font-family: $arial;
  color: $darkgrey;
}

.example__conclusion {
  margin: 10px auto;

  font-size: 14px;
  line-height: 20px;
  font-family: $oswald;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__list {
    display: flex;
    justify-content: space-between;
  }

  .example__item {
    width: 162px;
    height: 70px;
    margin-right: 43px;
  }

  .example__item--wrapper {
    margin-bottom: -20px;

    background-color: $bg-color;
  }

  .example__item-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__item-description {
    padding: 10px 0;

    font-size: 14px;
    line-height: 18px;
    font-family: $arial;
    color: $darkgrey;
  }

  .example__conclusion {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    padding-top: 28px;
    width: 192px;
    height: 48px;

    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  .example__conclusion span {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .example__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 370px;
  }

  .example__item {
    margin-right: 0;
  }

  .example__item--wrapper {
    background-color: $grey;
  }

  .example__conclusion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 370px;
    margin: 0;
    padding: 56px 0 20px 5px;

    text-align: left;

    .example__conclusion span {
      margin-top: 0;
    }
  }
}

.example__slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.example__slider-toggles {
  display: flex;
  justify-content: space-between;
  width: 198px;
  margin: 20px auto;
}

@media (min-width: $tablet-width) {
  .example__slider {
    position: relative;

    width: 768px;
    height: 631px;
    display: flex;
    flex-direction: column;
  }

  .example__slider-toggles {
    position: absolute;
    bottom: 29px;
    z-index: 100;

    width: 571px;
  }
}

@media (min-width: $desktop-width) {
  .example__slider {
    @include wrapper;
    width: 690px;

    margin: -190px 0 0;
    height: 652px;
  }
}

.example__slider--input1:checked ~ .example__images > .example__slider-img--before,
.example__slider--input2:checked ~ .example__images > .example__slider-img--after {
  display: block;
}

.example__slider-text {
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  color: $black;
  text-transform: uppercase;
}

.example__slider-switch {
  display: flex;
  margin: auto;
  width: 84px;
  height: 14px;

  border-radius: 7px;
  background-color: $bg-color;
  border: 1px solid $border-grey;
}

.example__slider--label {
  margin: auto;
}

.example__slider input[type="radio"]:checked + label::before {
  display: block;
}

.example__slider--label::before {
  display: flex;
  content: "";
  width: 35px;
  height: 6px;

  border-radius: 3px;
  background-color: $green;

  transform: scale(0);
  transition: 0.4s;
  cursor: pointer;
}

.example__slider--input1:checked ~ .example__slider-toggles > .example__slider-switch > .example__slider--label1::before,
.example__slider--input2:checked ~ .example__slider-toggles > .example__slider-switch > .example__slider--label2::before {
  transform: scale(1);
}

.example__slider--input1,
.example__slider--input2 {
  display: none;
}

.example__slider-img--before,
.example__slider-img--after {
  width: 320px;
  height: 232px;
  margin-top: 37px;
  display: none;
}

.example__slider-img--before {
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.example__slider-img--after {
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .example__slider-switch {
    position: relative;

    width: 428px;
    height: 6px;
    margin-top: 26px;

    border-radius: 3px;
    border: 0;
    background-color: $border-grey;
  }

  .example__slider--label1 {
    position: relative;
    top: -14px;
    left: 2px;

    width: 32px;
    height: 32px;

    border-radius: 50%;
    border: 1px solid #dcdcdc;

    cursor: pointer;
    box-shadow: 0 2px 5px 2px #dcdcdc;
    background-color: $bg-color;
  }

  .example__slider--label1::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: block;
    content: "";
    width: 8px;
    height: 8px;
    margin: auto;

    border-radius: 50%;
    background-color: $green;
  }

  .example__slider--label2 {
    display: none;
  }

  .example__slider--label:hover {
    box-shadow: 0 3px 4px 2px #bfbfbf;
  }

  .example__slider--label:active {
    border: 1px solid $green;
  }

  .slider__text {
    padding-bottom: 5px;

    font-size: 20px;

    border-bottom: 1px solid #c0c0c0;
  }

  .example__images {
    position: relative;

    width: 768px;
    height: 462px;
    margin-top: auto;

    background: linear-gradient(to right, #f2f2f2  50%, #eaeaea 50%);
  }

  .example__slider-img--before,
  .example__slider-img--after {
    z-index: 10;
    position: absolute;
    bottom: 0;

    display: block;
    width: 768px;
    height: 631px;
    margin-top: 0;
  }

  .example__slider-img--before {
    background-image: url("../img/before-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 45px 0;
    clip: rect(auto, 384px, auto, auto);
  }

  .example__slider-img--after {
    background-image: url("../img/after-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 45px 0;
    clip: rect(auto, auto, auto, 384px);
  }
}

@media (min-width: $desktop-width) {
  .example__images {
    background: linear-gradient(to right, $grey 44%, #eaeaea 42%);
  }

  .example__slider-img--before {
    left: -4px;
    bottom: 21px;

    background-image: url("../img/before-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 45px 0;
    clip: rect(auto, 410px, auto, auto);
  }

  .example__slider-img--after {
    left: -4px;
    bottom: 21px;

    background-image: url("../img/after-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 45px 0;
    clip: rect(auto, auto, auto, 410px);
  }

  .example__slider-toggles {
    margin-left: -46px;
    bottom: 39px;
  }
}
