.form-program__header {
  @include wrapper;
  display: block;
  margin-bottom: 30px;
}

.form-program__title {
  @include title;
}

.form-program__description {
  font-size: 14px;
  line-height: 18px;
  font-family: $oswald;
}

.form-program__footer {
  @include wrapper;
}

@media (min-width: $tablet-width) {
  .form-program__footer {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 80px;
  }
}

.form-program__note {
  margin: 20px 0;

  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-family: $arial;
}
