.form-program__header {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
}

.form-program__title {
  margin-bottom: 20px;
}

.form-program__description {
  margin-right: 50px;
  font-size: 14px;
  line-height: 18px;
}
