.logo {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
}

.logo__img--icon {
  width: 33px;
  height: 38px;
}

.logo__img--text {
  margin: auto;
  width: 101px;
  height: 18px;
}
