.main-nav__wrapper {
  width: auto;
}

.main-nav {
  min-height: 198px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
    min-height: 90px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 440px;

    border: 0;
  }

  .main-nav__wrapper {
    display: flex;
    min-width: 440px;
    margin-top: 41px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    z-index: 100;
    width: 47%;
  }

  .main-nav__wrapper {
    margin-top: 74px;
  }

  .main-nav__list {
    width: 570px;
    font-size: 20px;
    justify-content: flex-end;
  }
}
