.more-products {
  position: relative;

  min-height: 182px;
  margin-bottom: 26px;

  text-align: center;
  border-bottom: 1px solid #ededed;
}

.more-products::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;

  margin: 0 auto;
  width: 30px;
  height: 30px;

  opacity: 0.2;
  background-color: $bg-color;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .more-products {
    margin-top: auto;
    margin-bottom: 0;
    min-height: 420px;

    background: none;
    border: 1px solid #f2f2f2;
  }

  .more-products::after {
    top: 52px;
    width: 60px;
    height: 60px;

    background-image: url("../img/icon-plus.svg");
  }
}

@media (min-width: $desktop-width) {
  .more-products {
    display: flex;
    flex-wrap: wrap;
    min-width: auto;
    width: 243px;
    height: 431px;
    margin-right: 80px;
    padding: 0;
  }
}

.more-products__text {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.more-products__title {
  margin: 0;
  margin-top: 78px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .more-products__text {
    margin-top: auto;
    margin-bottom: 45px;
  }

  .more-products__title {
    max-width: 140px;
    width: 100%;
    padding-top: 0;
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .more-products__text {
    padding-top: 0;
    margin-bottom: 46px;
  }
}

.more-products__description {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 22px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $darkgrey;
}

@media (min-width: $tablet-width) {
  .more-products__description {
    max-width: 180px;
    width: 100%;

    line-height: 20px;
    font-size: 16px;
  }
}

.button--show-more {
  color: $darkgrey;

  background-color: $grey;

  &:hover {
    background-color: #ebebeb;
  }

  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: #b3b3b3;
  }
}

@media (min-width: $tablet-width) {
  .button--show-more {
    width: 249px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop-width) {
  .button--show-more {
    width: 169px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;
  }
}
