.more-products {
  @include wrapper;
}

@media (min-width: $tablet-width) {
  .more-products {
    @include wrapper-tablet;
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .more-products {
    @include wrapper-desktop;
    width: 245px;
  }
}

.more-products__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.more-products__title {
  font-size: 16px;
  line-height: 20px;
  font-family: $oswald;
  text-transform: uppercase;
}

.more-products__description {
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $darkgrey;
}

.button--show-more {
  color: $darkgrey;

  background-color: #f2f2f2;
}
