.personal-info__wrapper {
  @include wrapper;
}

@media (min-width: $tablet-width) {
  .personal-info__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .personal-info__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 570px;
    padding: 0;
    margin-right: 40px;
  }
}

.personal-info__row {
  display: flex;
  margin: 14px 0;
}

@media (min-width: $tablet-width) {
  .personal-info__row {
    padding-left: 40px;
    min-width: 635px;
    margin: 0 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .personal-info__row {
    padding-left: 0;
    min-width: 570px;
    margin: 0 0 30px;
  }

  .personal-info__wrapper-desktop {
    @include wrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
  }

  .personal-info__wrapper-desktop2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 1220px;
    height: 80px;
    padding: 0;
    margin: 0 auto;
  }

  .personal-info__input--email,
  .personal-info__input--phone {
    width: 570px;
  }
}

.personal-info__label,
.personal-info__input,
.personal-info__input::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: $oswald;
  text-transform: uppercase;
}

.personal-info__label {
  align-self: center;
  margin-right: 15px;
}

.personal-info__input:invalid {
  border: 1px solid #ff8282;
}

.personal-info__input:hover {
  border: 1px solid $darkgrey;
}

.personal-info__input:active {
  outline: 0;
  border: 1px solid $black;
}

.personal-info__input:invalid ~ .personal-info__icon {
  fill: #ff8282;
}

.personal-info__input:focus ~ .personal-info__input--email,
.personal-info__input:focus ~ .personal-info__input--phone {
  fill: $green;
}

.personal-info__programs input[type="checkbox"],
.personal-info__programs input[type="radio"] {
  display: none;
}

.personal-info__programs input[type="checkbox"]:checked + label::before,
.personal-info__programs input[type="radio"]:checked + label::before {
  display: block;
}

.personal-info__name {
  display: block;
  width: 235px;
  padding-left: 45px;
  margin: 6px 0;

  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.personal-info__label--radio {
  position: relative;

  display: block;
  width: 28px;
  height: 28px;
  margin-bottom: 12px;

  border-radius: 50%;
  border: 1px solid #e6e6e6;

  cursor: pointer;
}

.personal-info__label--radio::before {
  content: "";
  position: absolute;
  left: 30%;
  top: 30%;

  display: none;
  width: 12px;
  height: 12px;

  border-radius: 50%;
  border: none;
  background: $green;
}

.personal-info__label--radio:hover {
  border: 1px solid #bbbbbb;
}

.personal-info__label--radio:focus {
  outline: 0;
  border: 1px solid $black;
}

.personal-info__input {
  flex-grow: 1;
  padding: 13px;
  height: 45px;

  color: $darkgrey;

  border: 1px solid $border-grey;
  box-sizing: border-box;
}

.personal-info__programs {
  @include reset-list;
  display: block;
  min-width: 320px;
  padding-top: 20px;
  padding-bottom: 8px;
  margin: 0 auto;

  outline: 1px solid $border-grey;
}

@media (min-width: $tablet-width) {
  .personal-info__programs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 633px;
    margin: 70px 0 50px 70px;
  }

  .personal-info__label,
  .personal-info__input,
  .personal-info__input::placeholder,
  .personal-info__name {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .personal-info__programs {
    display: flex;
    margin: 0;
    margin-left: 40px;
    width: 570px;
    height: 167px;
  }
}

.personal-info__programs--checkbox {
  padding-top: 0;

  outline: none;
}

.personal-info__item {
  padding-left: 20px;
}

.personal-info__line {
  position: relative;
}

.personal-info__line::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;

  display: block;
  width: 100%;
  height: 3px;

  background: $green;

  transform: translateY(-50%);
}

@media (min-width: $desktop-width) {
  .personal-info__line {
    padding: 0 70px;
  }

  .personal-info__line::after {
    top: 39px;
  }
}

.personal-info__title {
  @include form-title;
}

.personal-info__title--1 {
  width: 185px;
  word-wrap: break-word;
}

.personal-info__line--1::after {
  content: "";
  position: absolute;
  top: 40px;

  display: block;
  width: 100%;
  height: 3px;

  background: $green;

  transform: translateY(-50%);
}

@media (min-width: $tablet-width) {
  .personal-info__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .personal-info__title--1 {
    width: 512px;
  }

  .personal-info__line--1::after {
    top: 55px;
  }

  .personal-info__line {
    padding: 0 30px;
  }

  .personal-info__line::after {
    top: 39%;
  }
}

@media (min-width: $desktop-width) {
  .personal-info__title--1 {
    width: 512px;
    margin-top: 50px;
  }

  .personal-info__line::after {
    top: 45%;
  }

  .personal-info__line {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .personal-info__line {
    padding: 0 70px;
  }
}

.personal-info__line--1 {
  width: 100%;
}

.personal-info__input--email,
.personal-info__input--phone {
  position: relative;

  display: flex;
}

.personal-info__icon {
  position: absolute;
  top: 50%;
  right: 15px;

  transform: translateY(-50%);
  transition: 0.3s;
}

.personal-info__input--text {
  height: 150px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .personal-info__input--text {
    width: 630px;
    height: 173px;
    margin-left: 40px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .personal-info__input--text {
    margin-left: 0;
    width: 1220px;
  }

  .personal-info__wrapper--text {
    justify-content: center;
    margin-left: 0;
    width: 100%;
    padding: 0 40px;
  }
}

.personal-info__label--checkbox {
  position: relative;

  display: block;
  width: 28px;
  height: 28px;
  margin-bottom: 12px;

  border: 1px solid #e6e6e6;

  cursor: pointer;
}

.personal-info__label--checkbox::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;

  display: none;
  width: 11px;
  height: 19px;
  margin-top: -4px;

  border-right: 2px solid $green;
  border-bottom: 2px solid $green;

  transform: translateY(-50%) rotate(45deg);
}

.personal-info__label--checkbox:hover {
  border: 1px solid #bbbbbb;
}

.personal-info__label--checkbox:focus {
  outline: 0;
  border: 1px solid $black;
}

@media (min-width: $tablet-width) {
  .personal-info__programs--checkbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 680px;
    height: 110px;
    margin-left: 50px;
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .personal-info__programs--checkbox {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
  }

  .personal-info__programs--checkbox > .personal-info__item {
    padding-left: 0;
  }
}
