.personal-info__programs {
  margin: 0 -20px;
  padding: 9px 20px;
  list-style-type: none;
  outline: 1px solid #cdcdcd;
}

.personal-info__label--radio {
  margin-left: 15px;
}

.personal-info__selection {
  margin: 12px 0;
}
