.personal-info__row {
  display: flex;
  margin: 14px 0;
}

.personal-info__label,
.personal-info__input,
.personal-info__input::placeholder {
  font-family: $oswald;
  line-height: 18px;
  text-transform: uppercase;
}

.personal-info__label {
  align-self: center;
  margin-right: 15px;
}

.personal-info__input {
  flex-grow: 1;
  padding: 13px;
  height: 45px;
  color: $darkgrey;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
}
