.preview__wrapper {
  margin: 0 auto;
}

.preview {
  @include wrapper;
  position: relative;

  min-height: 305px;
  padding-top: 29px;
  margin-bottom: 20px;
}

.preview__intro {
  display: block;
  margin-bottom: 23px;

  font-weight: 200;
  font-size: 36px;
  line-height: 36px;
  font-family: $oswald;
  text-align: center;
  color: $bg-color;
}

.preview__slogan {
  display: block;
  margin: 0;

  font-weight: 200;
  font-size: 14px;
  line-height: 14px;
  font-family: $oswald;
  text-align: center;
  text-transform: uppercase;
  color: $bg-color;
}

.preview__picture-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 44px;
  z-index: 100;

  width: 280px;
  height: 270px;
  margin: auto;
}

.preview__button {
  position: relative;
  bottom: 0;
  z-index: 100;
  margin-top: 303px;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .preview {
    min-height: 836px;
    background: 0;
  }

  .preview__intro {
    display: inline-block;
    width: 415px;
    margin-left: 88px;
    margin-top: 50px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $black;
  }

  .preview__slogan {
    position: relative;
    z-index: 1000;

    margin-left: 88px;
    margin-top: 22px;

    font-size: 20px;
    text-align: left;
    color: $black;
  }

  .preview__picture-wrapper {
    position: absolute;
    top: 303px;
    left: 0;
    right: 0;
    bottom: 27px;
    margin: auto;
    z-index: 100;

    width: 709px;
    height: 609px;
  }

  .preview__button {
    z-index: 100;

    width: 245px;
    height: 53px;
    margin: 50px 0 0 90px;
    padding: 6px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .preview,
  .preview__wrapper {
    display: flex;
    margin: 0 auto;
  }

  .preview__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1220px;
  }

  .preview {
    position: relative;

    min-height: 569px;
    justify-content: flex-start;
    width: 100%;
  }

  .preview__intro {
    z-index: 300;

    margin-left: 79px;
    padding-top: 56px;

    text-align: left;
  }

  .preview__slogan {
    min-width: 429px;
    margin-left: 79px;
    margin-top: 22px;

    font-weight: 400px;
  }

  .preview__button {
    margin-left: 80px;
    margin-top: 55px;
  }

  .preview__picture-wrapper {
    z-index: 500;
    top: 137px;
    left: 387px;
    bottom: 45px;

    padding: 0;
  }
}
