.preview__wrapper {
  @include wrapper;
}

.preview {
  display: flex;
  align-items: center;
  width: 320px;
  min-height: 480px;
  margin-bottom: 22px;

  background-repeat: no-repeat;
  background-position: top;
  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .preview {
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    width: 720px;
  }
}

.preview__intro {
  font-size: 36px;
  line-height: 36px;
  font-family: $oswald;
  text-align: center;
  color: $bg-color;
}

.preview__slogan {
  font-size: 14px;
  line-height: 14px;
  font-family: $oswald;
  text-align: center;
  text-transform: uppercase;
  color: $bg-color;
}

.preview__picture {
  margin: 0 auto;
  height: auto;

  background-color: transparent;
}
