.site-list {
  @include reset-list;
  width: 100%;
}

@media (min-width: $desktop-width) {
  .site-list {
    justify-content: space-between;
    width: 484px;
    margin-left: auto;
  }
}

.site-list__item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin-left: -20px;
  margin-right: -20px;
  min-height: 25px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: $oswald;
  text-transform: uppercase;
  color: $black;

  border-bottom: 1px solid #e6e6e6;
}

.site-list__item:first-child {
  border-top: 1px solid #e6e6e6;
}

.site-list__item a {
  margin: auto;

  color: $black;

  &:hover {
    opacity: 0.6;
  }
}

.site-list__item a:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin-right: 35px;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 5px;


    font-weight: 400;
    font-size: 18px;

    border-bottom: 2px solid transparent;
  }

  .site-list__item:first-child {
    border-top: 0;
  }

  .site-list__item--active {
    border-bottom: 2px solid $green;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    font-size: 20px;
    line-height: 25px;
  }

  .site-list__item--white a {
    color: $bg-color;
  }

  .site-list__item--white.site-list__item--active {
    border-bottom: 2px solid $bg-color;
  }
}
