.social {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;

  @include reset-list;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .social {
    width: 126px;

    border: 0;
  }
}

.socials__item {
  margin: 0 16px;
  width: 21px;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .social__item {
    margin: 0;
  }
}

.social__link {
  display: inline-block;
  padding: 15px;

  svg {
    fill: #666666;
  }

  &:hover svg {
    fill: $green;
  }

  &:active svg {
    fill: $green;
    opacity: 0.3;
  }
}

.social__link-vkontakte {
  width: 23px;
  height: 12px;
}

.social__link-instagram {
  width: 16px;
  height: 16px;
}

.social__link-facebook {
  height: 19px;
}

@media (min-width: $tablet-width) {
  .social__link-vkontakte {
    width: 31px;
    height: 19px;
  }

  .social__link-instagram {
    width: 23px;
    height: 23px;
  }

  .social__link-facebook {
    width: 14px;
    height: 28px;
  }
}
